body {
   /*transition: background 3s linear;*/
   /*background-image: url(http://i.imgur.com/NNoFNWf.png);*/
   background-size: cover;
   width: auto;
   height: auto;;
  }

p>a,
p>a:hover{
  color: yellow;
}
img.center-block{
  width: 60%;
}
/*img.img-responsive{
  margin: 0 auto;
}*/
img.portfolio_img {
  width: 35vh;
  height: 20vh;

}

i {

}
hr#about,
hr#blog,
hr#portfolio
 {
clear: both;
visibility: hidden;
margin-top: 250px;

}
address {
  color: DarkViolet;
  font-size: 13em;
  font-weight: bold;
}
/*contact*/
input#InputName,
input#InputEmail,
input#InputReal,
textarea#InputMessage {
  width: 41vw;
}
.contact-div {
  margin-top: 20vh;
}
.hitup-div {
  font-weight: bold;
  font-size: 1.5em;
  color: brown;
}




/*beginning screen*/

.home-txt {
  text-align:center;
  font-size:6.5em;
  color:White;
  letter-spacing: 1vh;
  font-weight:700;
  text-transform:uppercase;
  text-shadow:2px 2px 5px brown,
    2px 2px 7px brown;
}
.area{
  text-align:center;
  font-size:6.5em;
  color:White;
  letter-spacing: 1vh;
  font-weight:700;
  text-transform:uppercase;
  animation:blur 4s ease-in-out infinite;
  text-shadow:0px 0px 5px gold,
      0px 0px 7px gold;
}
.bounceIn {
  animation-duration: infinite;
}
@keyframes blur{
  from{
      text-shadow:0px 0px 10px Gold ,
      0px 0px 10px Gold ,
      0px 0px 25px Gold ,
      0px 0px 25px Gold ,
      0px 0px 25px DarkOrange ,
      0px 0px 25px DarkOrange ,
      0px 0px 25px DarkOrange ,
      0px 0px 25px DarkOrange ,
      0px 0px 50px white,
      0px 0px 50px white,
      0px 0px 50px white,
      0px 0px 150px white,
      0px 10px 100px white,
      0px 10px 100px white,
      0px 10px 100px white,
      0px 10px 100px white,
      0px -10px 100px white,
      0px -10px 100px white;}
}
.home-logo {
  margin-top: 30vh;

}


div.begin>table {
  font-size: 2em;
  color: whitesmoke;
}
.desc{
  font-size: .5em;
}
.begin-row{
  margin-top: 150px;
}
.begin-description {
  margin-top: 15px;
  margin-bottom: 300px;
}

/*navbar*/

.navbar-brand,
.navbar-default .navbar-nav >li >a {
}
.navbar,
.navbar-brand,
.navbar-default .navbar-nav >li >a {
  background-color: coral;
  color: whitesmoke !important;
  font-size: 1.15em;
  cursor: pointer; cursor: hand;
}
.navbar-default .navbar-brand {
  color:whitesmoke;
}


/*blog*/
#blog-posts {
  position: relative;
  bottom: -20px;
}




/*about*/
.img-thumbnail {
  width: 25%;
  border-radius: 10px;
}
.about-div {
  background-color: darkred;
  opacity: .9;
  color: whitesmoke;
  text-shadow:1px 1px brown;
  margin-top: 10vh;

}

/*portfolio*/
.portfolio {
  margin-top: 25px;
}



/*footer*/
.footer {
  margin-top: 25vh;
  /*position: absolute;*/
  bottom:0;
  width: 100%;
  color: white;
}
/*social icons*/

.footer-fa {
  width:2em;
  height:1.25em;
  border: solid 2px #fff;
  border-radius: 5px;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.footer-fa:hover{
  border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}
/*project btn*/

.project-icon:hover {
  font-size: 1.3em;
  color:white;
  background-color: crimson;
}

.project-icon{
  margin-top: 10vh;
  margin-right: 5vh;
  font-size: 0em;
  /*color: #D1D0CE;*/

  border-radius: 20px;
  background-color: white;

}
.project-div {
  margin-top: 40vh;
}

.showcase-project {
  margin-top: 10vh;
  opacity: .9;
  border-radius: 10px;
  background-color:  brown;

}
.project-show-div {
  /*background-color: white;*/
  height: 80vh;
  opacity: .7;
}
.project-fa {
  height: 25vh;
  width:25vh;
}

.project-img {
  width: 100%;
  height: 100%
}

.project-fa {

  border-radius: 5px;
    font-size: 10em;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.project-fa:hover{
  border: solid 2px #fff;
    color: #violet;
    background: violet;
}
.project-span {
  font-size: 1.25em;
  color: white;
}

/* star light emblem*/

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 100%;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: salmon;
}

hr.star-light:after {
    color: whitesmoke;
    background-color: salmon;
    border-radius: 10px;
}
