
<div  class="jumbotron col-md-8 col-md-offset-2 about-div" >
  <h2 class="text-center">About Me</h2>
  <hr class="star-light">
  <div class="row  text-center ">
    <img class="img-responsive img-thumbnail" src="https://scontent-ord1-1.xx.fbcdn.net/hphotos-xpl1/t31.0-8/10497466_10202618521169037_7714605377856483739_o.jpg">
  </div>
  <div class="row">
  
    <p>Im an aspiring Web Developer based in NJ.Hoping to become a Software Engineer, writing elegant Code :^D</p><br>
      <p>My hobbies include pc gaming and going to the gym.  I am planning
      to compete in powerlifting competitions in the future~</p>
      <br>

  </div>
</div>
