
<div  class="jumbotron col-md-8 col-md-offset-2 about-div" >
  <h2 class="text-center">About Me</h2>
  <hr class="star-light">
  <div class="row  text-center ">
    <img class="img-responsive img-thumbnail" src="https://scontent-ord1-1.xx.fbcdn.net/hphotos-xpl1/t31.0-8/10497466_10202618521169037_7714605377856483739_o.jpg">
  </div>
  <div class="row">
    <span>Hi im Long.
      <br>
      <br>Im a Web Developer based around the Greater New York area.
       I went to Rutgers University for a Physics Major, but decided to change paths and try my hand at coding.
       I enrolled at Rutgers Coding Bootcamp on October 2015 and never turned back since!
       Currently working part-time as a node.js developer at Rutgers University GRID (Game Research and Immersive Design).
       <br>
       <br>- My hobbies and interests include: Pc Gaming/building, Powerlifting and being a Foodie :D   </span>
  </div>
</div>
