
<div  class="jumbotron col-md-8 col-md-offset-2" id="about-section">
  <h2 class="text-center">About Me</h2>
  <hr class="star-light">
  <div class="row  text-center ">
    <img class="img-responsive img-thumbnail" src="https://scontent-ord1-1.xx.fbcdn.net/hphotos-xpl1/t31.0-8/10497466_10202618521169037_7714605377856483739_o.jpg">

  </div>

  <div class="row">
    <p>Im an aspiring Web Developer based in NJ. Currently enrolled in
    Rutgers Coding Bootcamp(April 2016 finish date). Hoping to find a
    junior software/web development position!</p>
    <p>Rutgers Coding Bootcamp(April 2016 finish date). Hoping to find a
    junior software/web development position!</p>
  </div>

</div>
