<div class="container">
<div class="row">
<div class="col-sm-4">
<address>
<h2>Hit Me Up!</h2>
<hr class="contact">
<strong>Email:</strong> lphan1989@gmail.com<br><br>
<strong>Phone:</strong> (555)123-4567
</address>
</div>

<div class="col-sm-8 contact-form">
<form id="contact" method="post" class="form" role="form">
<div class="row">
<div class="col-xs-6 col-md-6 form-group">
<label for="exampleInputEmail1">Name</label>
<input class="form-control" id="name" name="name" placeholder="Name" type="text" required autofocus />
</div>
<div class="col-xs-6 col-md-6 form-group">
<label for="exampleInputEmail1">Email address</label>
<input class="form-control" id="email" name="email" placeholder="Email" type="email" required />
</div>
</div>
<label for="exampleInputEmail1">Message</label>
<textarea class="form-control" id="message" name="message" placeholder="Message" rows="5"></textarea>
<br />
<div class="row">
<div class="col-xs-12 col-md-12 form-group">
<button class="btn btn-primary pull-right" type="submit btn-block">Submit</button>
</form>
</div>
</div>
