<div class="container-fluid">
  <div class="row showcase-project">
    <div class="col-md-3 project-span">
      <h1>Space Shooter Game!</h1>
      <br>
      <span>Space shooter tutorial game that I followed. <br> - Made completely with only Javascript,HTML and CSS.
       Did not  realize how hard it was to program games!<br> -  Would highly recommend going through a gaming tutorial, it
       teaches alot of concepts like design patterns and alogorithms to use in certain scenarios.
      </span>
    </div>
    <div class="col-md-6">
      <img class="project-img" src="http://puu.sh/ox8U2/a53d8b1fc7.png" alt="" />
    </div>
    <div class="col-md-3 project-show-div ">
      <div class="col-md-6 col-md-offset-1 text-center">
        <span class="project-span">Github:</span>
        <br>
        <a  target="_blank" href="https://github.com/longp/galaxy_defender" ><i class="fa project-fa fa-5x fa-fw fa-code"></i></a>
      </div>
      <div class="col-md-6 text-center col-md-offset-1">
        <span class="project-span">Demo:</span>
        <br>
        <a  target="_blank" href="https://galaxydefender.herokuapp.com/" ><i class="fa project-fa fa-5x fa-fw fa-external-link-square"></i></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <a a href="/galaxy" class="btn btn-success btn-block">SpaceShooter</a>
    </div>
    <div class="col-md-2 col-md-offset-1">
      <a href="/food" class="btn btn-success btn-block">FoodWithFriends</a>
    </div>
    <div class="col-md-2 col-md-offset-1">
      <a href="/facecheck" class="btn btn-success btn-block">FaceCheck</a>
    </div>
    <div class="col-md-2 col-md-offset-1">
      <a href="/twitch" class="btn btn-success btn-block">TwitchBot</a>
    </div>
  </div>
</div>
