<div class="row">
  <div class="text-center project-icon col-md-2  col-md-offset-1 col-sm-3">
    <span>Pokemon click game</span>
    <a href="https://www.facebook.com/" class="btn  hvr-grow hvr-bounce-to-top" ><img src="http://icons.iconarchive.com/icons/chrisbanks2/cold-fusion-hd/128/pokemon-icon.png" class="img-responsive portfolio_img" alt=""></a>
  </div>

  <div class="text-center project-icon col-md-2 col-md-offset-2 col-sm-3">
    <span>Space Shooter Game</span>
    <a href="/galaxy" class="btn hvr-grow hvr-bounce-to-top" ><img src="http://cdn.wikimg.net/strategywiki/images/7/75/Galaga_Fighter.png" class="img-responsive portfolio_img" alt=""></a>
  </div>

  <div class="col-md-2 text-center project-icon col-md-offset-2 col-sm-3">
    <span>Food With Friends</span>
    <a href="https://getfoodwithfriends.herokuapp.com/" class="btn  hvr-grow hvr-bounce-to-top" ><img src="https://www.nyip.edu/images/cms/photo-articles/7-food-photography-tips-from-daniel-norton-6.jpg" class="img-responsive portfolio_img" alt=""></a>

  </div>
</div>

<br>

<div class="row">
  <div class="text-center project-icon col-md-2  col-md-offset-1 col-sm-3">
    <span>Face Check</span>
    <a href="/portfolio/calculator.html" target="_blank" type='button' class="btn  hvr-grow hvr-bounce-to-top"> <img src="https://doorwayproject.files.wordpress.com/2014/02/anonymous.png" class="img-responsive portfolio_img" alt=""></a>
  </div>

  <div class="text-center project-icon col-md-2 col-md-offset-2 col-sm-3">
    <span>Space Shooter Game</span>
    <a href="https://facecheck.herokuapp.com/" class="btn hvr-grow hvr-bounce-to-top" ><img src="http://cdn.wikimg.net/strategywiki/images/7/75/Galaga_Fighter.png" class="img-responsive portfolio_img" alt=""></a>
  </div>

  <div class="col-md-2 text-center project-icon col-md-offset-2 col-sm-3">
    <span>Twitch Bot</span>
    <a href="https://www.twitch.tv/g000ey" target="_blank" type='button' class="btn  hvr-grow hvr-bounce-to-top"> <img src="https://www-cdn.jtvnw.net/images/twitch_logo3.jpg" class="img-responsive portfolio_img" alt=""></a>
  </div>
</div>
