<div class="container-fluid">
  <div class="row showcase-project">
    <div class="col-md-3 project-span">
      <h1>Goooey Bot!</h1>
      <br>
      <span>This is a simple chat bot I made for my stream @ <a href="twitch.tv/g000ey">twitch.tv/g000ey</a></span>
    </div>
    <div class="col-md-6">
      <img class="project-img" src="http://puu.sh/ox5iA/60ff680f4f.png" alt="" />
    </div>
    <div class="col-md-3 project-show-div ">
      <div class="col-md-6 col-md-offset-1 text-center">
        <span class="project-span">Github:</span>
        <br>
        <a  target="_blank" href="https://github.com/longp/GoooeyBot" ><i class="fa project-fa fa-5x fa-fw fa-code"></i></a>
      </div>
      <div class="col-md-6 text-center col-md-offset-1">
        <span class="project-span">Demo:</span>
        <br>
        <a  target="_blank" href="https://www.twitch.tv/g000ey" ><i class="fa project-fa fa-5x fa-fw fa-external-link-square"></i></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <a a href="/pokemon" class="btn btn-success btn-block">PokeClick</a>
    </div>
    <div class="col-md-2 col-md-offset-1">
      <a href="/food" class="btn btn-success btn-block">FoodWithFriends</a><
    </div>
    <div class="col-md-2 col-md-offset-1">
      <a href="/facecheck" class="btn btn-success btn-block">FaceCheck</a>
    </div>
    <div class="col-md-2 col-md-offset-1">
      <a href="/twitch" class="btn btn-success btn-block">TwitchBot</a>
    </div>
  </div>
</div>
